img#cartIcon {
    height: 75px;
    width: auto;
    background: transparent;
}

.cart-btn {
    background-color: #00c8fe;
}

.cart-btn:hover {
    background-color: #008bcc;
}

img#productImg {
    height: 350px;
    width: 350px;
}

img#ratingImg {
    height: 40px;
    width: 200px;
}

#blueContainer {
    background: #00adff;
}